<!-- <h2 style="color: #ff0000"><%= params['msg'] %></h2> -->
<h3>Enter your phone number to get a call from Stevie WOnder</h3>
<form action="/makecall" method="post">
    <input type="text" name="number" />
    <input type="submit" value="Call me, Stevie!">
</form>
